In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
df_movies= pd.read_csv("../data/ml-latest/movies.csv")
df_ratings= pd.read_csv("../data/ml-latest/ratings.csv").drop(columns="timestamp")

In [13]:
df_movies.describe()

             movieId
count   86537.000000
mean   155932.817096
std     78037.145347
min         1.000000
25%    111443.000000
50%    164574.000000
75%    211225.000000
max    288983.000000

In [14]:
df_ratings.describe()

             userId       movieId        rating
count  3.383216e+07  3.383216e+07  3.383216e+07
mean   1.654380e+05  2.831348e+04  3.542540e+00
std    9.534122e+04  4.992865e+04  1.063959e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    8.295300e+04  1.219000e+03  3.000000e+00
50%    1.661290e+05  3.263000e+03  4.000000e+00
75%    2.474500e+05  4.049100e+04  4.000000e+00
max    3.309750e+05  2.889830e+05  5.000000e+00

In [15]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 774.4 MB

In [16]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [17]:
print(df_ratings['userId'].max(), df_ratings['movieId'].max())

330975 288983

In [18]:
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [19]:
df_ratings.head(10)

   userId  movieId  rating
0       1        1     4.0
1       1      110     4.0
2       1      158     4.0
3       1      260     4.5
4       1      356     5.0
5       1      381     3.5
6       1      596     4.0
7       1     1036     5.0
8       1     1049     3.0
9       1     1066     4.0

## Top 10 rated films

In [86]:
most_rated_movies= df_ratings.groupby("movieId").size().sort_values(ascending=False).head(10)
most_rated_movies = pd.DataFrame(most_rated_movies, columns= ["rating_count"])
most_rated_movies_titles= most_rated_movies.merge(df_movies, on= "movieId").set_index("title")

In [87]:
most_rated_movies_titles

,movieId,rating_count,genres
title,,,
"Shawshank Redemption, The (1994)",318,122296,Crime|Drama
Forrest Gump (1994),356,113581,Comedy|Drama|Romance|War
Pulp Fiction (1994),296,108756,Comedy|Crime|Drama|Thriller
"Matrix, The (1999)",2571,107056,Action|Sci-Fi|Thriller
"Silence of the Lambs, The (1991)",593,101802,Crime|Horror|Thriller
Star Wars: Episode IV - A New Hope (1977),260,97202,Action|Adventure|Sci-Fi
Fight Club (1999),2959,86207,Action|Crime|Drama|Thriller
Schindler's List (1993),527,84232,Drama|War
Jurassic Park (1993),480,83026,Action|Adventure|Sci-Fi|Thriller
Star Wars: Episode V - The Empire Strikes Back (1980),1196,80200,Action|Adventure|Sci-Fi

## Mean for the top 10 most rated movies

In [89]:
movieindex= [index for index in most_rated_movies_titles["movieId"]]

In [90]:
movieindex

[318, 356, 296, 2571, 593, 260, 2959, 527, 480, 1196]

In [100]:
top_10_ratings = df_ratings[df_ratings['movieId'].isin(movieindex)]

In [104]:
mean_rating= top_10_ratings.groupby("movieId")["rating"].mean().sort_values(ascending=False)

In [127]:
df_mean_rating= pd.DataFrame(mean_rating)

In [125]:
most_rated_movies_titles["mean_rating"]= df_mean_rating["rating"].values

In [126]:
most_rated_movies_titles

,movieId,rating_count,genres,mean_rating
title,,,,
"Shawshank Redemption, The (1994)",318,122296,Crime|Drama,4.416792
Forrest Gump (1994),356,113581,Comedy|Drama|Romance|War,4.242337
Pulp Fiction (1994),296,108756,Comedy|Crime|Drama|Thriller,4.236019
"Matrix, The (1999)",2571,107056,Action|Sci-Fi|Thriller,4.191778
"Silence of the Lambs, The (1991)",593,101802,Crime|Horror|Thriller,4.160631
Star Wars: Episode IV - A New Hope (1977),260,97202,Action|Adventure|Sci-Fi,4.150287
Fight Club (1999),2959,86207,Action|Crime|Drama|Thriller,4.118030
Schindler's List (1993),527,84232,Drama|War,4.092400
Jurassic Park (1993),480,83026,Action|Adventure|Sci-Fi|Thriller,4.068189
Star Wars: Episode V - The Empire Strikes Back (1980),1196,80200,Action|Adventure|Sci-Fi,3.689013