In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_movies= pd.read_csv("../data/ml-latest/movies.csv")
df_ratings= pd.read_csv("../data/ml-latest/ratings.csv").drop(columns="timestamp")

In [3]:
df_movies.describe()

             movieId
count   86537.000000
mean   155932.817096
std     78037.145347
min         1.000000
25%    111443.000000
50%    164574.000000
75%    211225.000000
max    288983.000000

In [4]:
df_ratings.describe()

             userId       movieId        rating
count  3.383216e+07  3.383216e+07  3.383216e+07
mean   1.654380e+05  2.831348e+04  3.542540e+00
std    9.534122e+04  4.992865e+04  1.063959e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    8.295300e+04  1.219000e+03  3.000000e+00
50%    1.661290e+05  3.263000e+03  4.000000e+00
75%    2.474500e+05  4.049100e+04  4.000000e+00
max    3.309750e+05  2.889830e+05  5.000000e+00

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 774.4 MB

In [6]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [7]:
print(df_ratings['userId'].max(), df_ratings['movieId'].max())

330975 288983

In [8]:
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [9]:
df_ratings.head(10)

   userId  movieId  rating
0       1        1     4.0
1       1      110     4.0
2       1      158     4.0
3       1      260     4.5
4       1      356     5.0
5       1      381     3.5
6       1      596     4.0
7       1     1036     5.0
8       1     1049     3.0
9       1     1066     4.0

## 1.1B)

In [57]:
number_ratings_top10= pd.DataFrame(df_ratings.groupby("movieId")["rating"].sum().sort_values(ascending=False).head(10)).rename(columns= {"rating": "rating_count"})

In [60]:
title_number_ratings_top10= df_movies.merge(number_ratings_top10, on= "movieId").drop(columns= "genres")

In [61]:
title_number_ratings_top10

   movieId                                              title  rating_count
0      260          Star Wars: Episode IV - A New Hope (1977)      397789.5
1      296                                Pulp Fiction (1994)      455881.0
2      318                   Shawshank Redemption, The (1994)      540156.0
3      356                                Forrest Gump (1994)      462069.0
4      527                            Schindler's List (1993)      357340.5
5      593                   Silence of the Lambs, The (1991)      422507.5
6     1196  Star Wars: Episode V - The Empire Strikes Back...      330266.0
7     2571                                 Matrix, The (1999)      445420.5
8     2959                                  Fight Club (1999)      365174.5
9     4993  Lord of the Rings: The Fellowship of the Ring,...      327700.5

## 1.1C)

In [67]:
movieId_mean_rating= title_number_ratings_top10.groupby("movieId")["rating"].mean().reset_index(name= "mean_rating")
movieId_mean_rating

       movieId  mean_rating
0            1     3.893508
1            2     3.278179
2            3     3.171271
3            4     2.868395
4            5     3.076957
...        ...          ...
83234   288967     3.500000
83235   288971     0.500000
83236   288975     4.000000
83237   288977     3.000000
83238   288983     3.000000

[83239 rows x 2 columns]

In [73]:
title_mean_rating= df_movies.merge(movieId_mean_rating, on= "movieId").drop(columns= "genres")
title_mean_rating

       movieId                                              title  mean_rating
0            1                                   Toy Story (1995)     3.893508
1            2                                     Jumanji (1995)     3.278179
2            3                            Grumpier Old Men (1995)     3.171271
3            4                           Waiting to Exhale (1995)     2.868395
4            5                 Father of the Bride Part II (1995)     3.076957
...        ...                                                ...          ...
83234   288967               State of Siege: Temple Attack (2021)     3.500000
83235   288971                                 Ouija Japan (2021)     0.500000
83236   288975   The Men Who Made the Movies: Howard Hawks (1973)     4.000000
83237   288977                    Skinford: Death Sentence (2023)     3.000000
83238   288983  UNZIPPED: An Autopsy of American Inequality (2...     3.000000

[83239 rows x 3 columns]

In [75]:
title_mean_rating.sort_values
(by="mean_rating")

       movieId                                              title  mean_rating
40811   163338                         Rhythm on the River (1940)          0.5
32767   143397                      If I Die Before I Wake (2001)          0.5
81094   281870                              Doctor Whistle (2022)          0.5
79046   276411                                      Yaanai (2022)          0.5
62782   212120                                     The Bet (2020)          0.5
...        ...                                                ...          ...
73165   251386                                Throat Notes (2020)          5.0
81023   281624                                      Hidden (2020)          5.0
61030   207696  Hare Krishna! The Mantra, the Movement and the...          5.0
76816   267940                                Silvery Moon (1933)          5.0
68837   230163  AFI Life Achievement Award: A Tribute to Al Pa...          5.0

[83239 rows x 3 columns]