In [111]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [112]:
df_movies= pd.read_csv("../data/ml-latest/movies.csv")
df_ratings= pd.read_csv("../data/ml-latest/ratings.csv").drop(columns="timestamp")

In [113]:
df_movies.describe()

             movieId
count   86537.000000
mean   155932.817096
std     78037.145347
min         1.000000
25%    111443.000000
50%    164574.000000
75%    211225.000000
max    288983.000000

In [114]:
df_ratings.describe()

             userId       movieId        rating
count  3.383216e+07  3.383216e+07  3.383216e+07
mean   1.654380e+05  2.831348e+04  3.542540e+00
std    9.534122e+04  4.992865e+04  1.063959e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    8.295300e+04  1.219000e+03  3.000000e+00
50%    1.661290e+05  3.263000e+03  4.000000e+00
75%    2.474500e+05  4.049100e+04  4.000000e+00
max    3.309750e+05  2.889830e+05  5.000000e+00

In [115]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 774.4 MB

In [116]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [117]:
print(df_ratings['userId'].max(), df_ratings['movieId'].max())

330975 288983

In [118]:
df_movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [119]:
df_ratings.head(10)

   userId  movieId  rating
0       1        1     4.0
1       1      110     4.0
2       1      158     4.0
3       1      260     4.5
4       1      356     5.0
5       1      381     3.5
6       1      596     4.0
7       1     1036     5.0
8       1     1049     3.0
9       1     1066     4.0

## 1.1B) Top 10 most rated movies

In [277]:
movieId_most_ratings= pd.DataFrame(df_ratings.groupby("movieId")["rating"].sum().sort_values(ascending=False).head(10)).reset_index()
title_most_ratings= df_movies[df_movies["movieId"].isin(movieId_most_ratings["movieId"])].drop(columns= "genres")

In [290]:
movies_most_ratings= pd.merge(title_most_ratings, movieId_most_ratings, on="movieId").set_index("movieId").rename(columns= {"rating": "number_of_ratings"})

In [291]:
movies_most_ratings

                                                     title  number_of_ratings
movieId
260              Star Wars: Episode IV - A New Hope (1977)           397789.5
296                                    Pulp Fiction (1994)           455881.0
318                       Shawshank Redemption, The (1994)           540156.0
356                                    Forrest Gump (1994)           462069.0
527                                Schindler's List (1993)           357340.5
593                       Silence of the Lambs, The (1991)           422507.5
1196     Star Wars: Episode V - The Empire Strikes Back...           330266.0
2571                                    Matrix, The (1999)           445420.5
2959                                     Fight Club (1999)           365174.5
4993     Lord of the Rings: The Fellowship of the Ring,...           327700.5